<?xml version="1.0" encoding="UTF-8"?>

<config>
	<configs>
		<host>http://42.120.49.122</host>
		<username>hihua</username>
		<password>12345678</password>
		<cookie>remember_token=BAhbB2kCKiIiRTcyYmE2OWZhZGYxM2E4ZGIzOTQ0ZWFmMzc4ZWRiOTc2NjRhZTBiMDNlMzQ1NTE4MGRhMDEwMGFiMzhmZjU4YWQ%3D--ff2544161c4754afb7156b41063e7cce7e6d101e; _game001_server_session=BAh7BiIPc2Vzc2lvbl9pZCIlNmNlYzdiZGIwZTA2NmRjMTJmZjc1YTMwMmZhZjUwOTU%3D--0e8b9ca6468f8992652620a210f90cdedd4b53cb</cookie>
		<cities>10310</cities>
		<autocities>30</autocities>
		<autoupgrade priority="0,5,12,11,9,7,4,6,8,1,2">true</autoupgrade>
		<autoattack level="1-7">3</autoattack>
		<autorecruit infantryswords="4500" infantryscout="0" infantrycrossbow="4500" infantrysquire="5500" cavalrytemplar="4800" cavalryarcher="5500" cavalrypaladin="13000" cavalryroyal="6500">true</autorecruit>
		<marketrate>95</marketrate>
	</configs>
	<configs>
		<host>http://42.120.51.62</host>
		<username>hihua8</username>
		<password>12345678</password>
		<cookie>remember_token=BAhbB2kCKiIiRTcyYmE2OWZhZGYxM2E4ZGIzOTQ0ZWFmMzc4ZWRiOTc2NjRhZTBiMDNlMzQ1NTE4MGRhMDEwMGFiMzhmZjU4YWQ%3D--ff2544161c4754afb7156b41063e7cce7e6d101e; _game001_server_session=BAh7BiIPc2Vzc2lvbl9pZCIlNmNlYzdiZGIwZTA2NmRjMTJmZjc1YTMwMmZhZjUwOTU%3D--0e8b9ca6468f8992652620a210f90cdedd4b53cb</cookie>
		<cities>1171</cities>
		<autocities>0</autocities>
		<autoupgrade priority="0,5,12,11,9,6,7,8,2,4,1">true</autoupgrade>
		<autoattack level="1-7">3</autoattack>
		<autorecruit infantryswords="5000" infantryscout="0" infantrycrossbow="4500" infantrysquire="5500" cavalrytemplar="5500" cavalryarcher="6500" cavalrypaladin="9500" cavalryroyal="3500">true</autorecruit>
		<marketrate>95</marketrate>
	</configs>
	<configs>
		<host>http://42.120.51.6</host>
		<username>hhihua</username>
		<password>12345678</password>
		<cookie>remember_token=BAhbB2kCXAwiRWEyYmY0ODIxYmY3MjU4YmFiMDlhMjRiMjQyNjMzMTdiNGI2MGI4MjkyNjkxZmZlOWM0MWE2ZGNhYTFjMjQwMmY%3D--89cd1c73923640cd21fc57808403b1450b1fc8d4; _game001_server_session=BAh7BiIPc2Vzc2lvbl9pZCIlMTZiMWQzNDYxOTkwN2RiYmZlNGZlMDM0ODA0MjYyODQ%3D--b6d26f25d6f4dbaee94abe1585fa5d0c73c87924</cookie>
		<cities>3295</cities>
		<autocities>30</autocities>
		<autoupgrade priority="0,5,12,11,9,7,4,1,6,8,2">true</autoupgrade>
		<autoattack level="1-7">3</autoattack>
		<autorecruit infantryswords="5500" infantryscout="0" infantrycrossbow="7000" infantrysquire="5500" cavalrytemplar="6000" cavalryarcher="6000" cavalrypaladin="10500" cavalryroyal="3500">true</autorecruit>
		<marketrate>95</marketrate>
	</configs>
</config>