<?xml version="1.0" encoding="UTF-8"?>

<config>
	<configs>
		<host>http://42.120.49.122</host>
		<username>hihua</username>
		<password>12345678</password>
		<cookie>_game001_server_session=BAh7BiIPc2Vzc2lvbl9pZCIlOTRiMjlkMDg5ZTBjYTNlNTg0Zjk4ZWRhMzVlYTE3Mzc%3D--58e02d629171e0804ae0d74201003c7b1168d446; remember_token=BAhbB2kCKiIiRTc2MGVhOWE1YzQ5MzAxZGNkOGRjOGJlOTgwZDAyYmFhOWI2ZDE5OGI1ZTA0Yzk0MjlhZTcwY2FjODgxNTllODQ%3D--ba76b6d6502a380e2d9426e4f04af7418ecd91ed</cookie>
		<cities>10310</cities>
		<autocities>30</autocities>
		<autoupgrade priority="0,5,12,11,9,7,4,6,8,1,2">true</autoupgrade>
		<autoattack level="0-0">false</autoattack>
		<autorecruit infantryswords="4500" infantryscout="0" infantrycrossbow="4500" infantrysquire="5500" cavalrytemplar="4800" cavalryarcher="5500" cavalrypaladin="13000" cavalryroyal="6500">true</autorecruit>
		<marketrate>95</marketrate>
	</configs>
	<configs>
		<host>http://42.120.51.62</host>
		<username>hihua8</username>
		<password>12345678</password>
		<cookie>remember_token=BAhbB2kCkQQiRTMyOWJjY2EzOTQxN2VhOGM1MWVhNjUzNzNlMWVlNzM5YmJjMjYwZGM5NzA3OTJiMjkzODgxNDY2NzAxZDkyNGU%3D--5647514654d44f0600d4e3d5c6ff1d3873970de3; _game001_server_session=BAh7BiIPc2Vzc2lvbl9pZCIlODZiZmMzYjFlYmFhMTIzOWIyN2UzMmZiZmQ2MzUwNjg%3D--eb44b6881faf68f663ac8ab1105bc71fb461e3e7</cookie>
		<cities>1171</cities>
		<autocities>30</autocities>
		<autoupgrade priority="0,5,12,11,9,6,7,8,2,4,1">true</autoupgrade>
		<autoattack level="0-0">false</autoattack>
		<autorecruit infantryswords="5000" infantryscout="0" infantrycrossbow="4500" infantrysquire="5500" cavalrytemplar="5500" cavalryarcher="6500" cavalrypaladin="9500" cavalryroyal="3500">true</autorecruit>
		<marketrate>95</marketrate>
	</configs>
	<configs>
		<host>http://42.120.51.6</host>
		<username>hhihua</username>
		<password>12345678</password>
		<cookie>remember_token=BAhbB2kCXAwiRWM1NTU2MzU4ZjE5NGUxMjU0MjZjYTExYTA2NmUzNTY5NTlhZjNiMjVjYzY4MjFmMWJlYjIwNTk3NWFmMmFlZTM%3D--cc5121c8eb8c584b2c3640c4443ec19b4bf91858; _game001_server_session=BAh7BiIPc2Vzc2lvbl9pZCIlYjg0OWQyOTNiMGI1MWExM2FjMGQwMDUzNTJlNDlkYTA%3D--06b8c391b13d919a94732b0995a891436b54dd64</cookie>
		<cities>3295</cities>
		<autocities>30</autocities>
		<autoupgrade priority="0,5,12,11,9,7,4,1,6,8,2">true</autoupgrade>
		<autoattack level="0-0">false</autoattack>
		<autorecruit infantryswords="5500" infantryscout="0" infantrycrossbow="7000" infantrysquire="5500" cavalrytemplar="6000" cavalryarcher="6000" cavalrypaladin="10500" cavalryroyal="3500">true</autorecruit>
		<marketrate>95</marketrate>
	</configs>
</config>