<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.main.Main</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WebMyTowns</servlet-name>
    <servlet-class>com.web.WebMyTowns</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WebCookie</servlet-name>
    <servlet-class>com.web.WebCookie</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WebIsland</servlet-name>
    <servlet-class>com.web.WebIsland</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WebOthers</servlet-name>
    <servlet-class>com.web.WebOthers</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WebConfig</servlet-name>
    <servlet-class>com.web.WebConfig</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WebBuildings</servlet-name>
    <servlet-class>com.web.WebBuildings</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WebTransport</servlet-name>
    <servlet-class>com.web.WebTransport</servlet-class>
  </servlet>






  
  
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/servlet/Main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebMyTowns</servlet-name>
    <url-pattern>/servlet/WebMyTowns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebCookie</servlet-name>
    <url-pattern>/servlet/WebCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebIsland</servlet-name>
    <url-pattern>/servlet/WebIsland</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebOthers</servlet-name>
    <url-pattern>/servlet/WebOthers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebConfig</servlet-name>
    <url-pattern>/servlet/WebConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebBuildings</servlet-name>
    <url-pattern>/servlet/WebBuildings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebTransport</servlet-name>
    <url-pattern>/servlet/WebTransport</url-pattern>
  </servlet-mapping>   
</web-app>
