<?xml version="1.0" encoding="UTF-8"?>

<config>
	<host>http://107.20.224.201</host>
	<clientv>1.3.5</clientv>
	<userid>23568</userid>
	<cookie>cookie_salt=BAhbB2kCEFwiRWI3YzIxOTBjOGM2Y2VkNjlmNTI0NWM5ODQ4MDBlNjI0YmIwZWY3MjExYmRmY2FjNzQ4Mzk4Nzg5ZTYzYzc2MzY%3D--b90b2c48ef5007376fd2bf76b03e1c46909a0ea1; cookie_id=BAgiSzhmM2MzYjFkNzgxMzJhNDk1YTg2NDFjZGJmNTFiZjUwYjkzMWY0NTlGcmkgTWF5IDExIDAxOjIyOjAzICswMDAwIDIwMTI%3D--a51e04ae8448436780bab8d255bc3259c0d2e648; _game001_server_session=BAh7BiIPc2Vzc2lvbl9pZCIlZmU2NjVkZDZjYWE0MWZkOWZhYmU2MjM5NzM4OGFlMGI%3D--1875534dda4c2a9c98aa74ffa6faa40cc472231d</cookie>
	<autotowns>30</autotowns>
	<towns id="57971">
		<autoupgrade priority="2,1,13,11">true</autoupgrade>
		<autoattack level="1-40">true</autoattack>
		<autorecruit>true</autorecruit>
		<sells wood="90" food="90" iron="90" marble="90" gold="90">true</sells>
		<buys wood="0" food="0" iron="90" marble="90">true</buys>
	</towns>
	<towns id="68274">
		<autoupgrade priority="2,1,13">true</autoupgrade>
		<autoattack level="1-40">true</autoattack>
		<autorecruit>true</autorecruit>
		<sells wood="90" food="90" iron="90" marble="90" gold="90">true</sells>
		<buys wood="0" food="0" iron="90" marble="90">true</buys>
	</towns>
	<towns id="71071">
		<autoupgrade priority="5,2,1,13,11">true</autoupgrade>
		<autoattack level="1-40">true</autoattack>
		<autorecruit>true</autorecruit>
		<sells wood="90" food="90" iron="90" marble="90" gold="90">true</sells>
		<buys wood="0" food="0" iron="90" marble="0">true</buys>
	</towns>
	<towns id="71989">
		<autoupgrade priority="5,2,1,13">true</autoupgrade>
		<autoattack level="1-40">true</autoattack>
		<autorecruit>true</autorecruit>
		<sells wood="90" food="90" iron="90" marble="90" gold="90">true</sells>
		<buys wood="0" food="0" iron="0" marble="90">true</buys>
	</towns>
	<towns id="108094">
		<autoupgrade priority="5,8,2,1,13,14">true</autoupgrade>
		<autoattack level="1-40">true</autoattack>
		<autorecruit>true</autorecruit>
		<sells wood="90" food="90" iron="90" marble="90" gold="90">true</sells>
		<buys wood="0" food="0" iron="90" marble="90">true</buys>
	</towns>
</config>